<ul>
<li>First Name: {{model.firstName}}</li>
<li>Last Name: {{model.lastName}}</li>
<li>Email: {{model.email}}</li>
<li>twitter: {{model.twitter}}</li>
<li>id: {{model.id}}</li>
</ul>
{{link-to 'All friends' 'friends.index'}}
